.checkoutFormContainer {
  background-image: url(https://images.pexels.com/photos/2519374/pexels-photo-2519374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  // height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.904);
  .purchaseDetails {
    background-color: rgba(169, 169, 169, 0.833);
  }
  form {
    background-color: rgba(169, 169, 169, 0.792);
  }
}